.sec-che {
    &-inner {
        &-tit {
            margin-bottom: 25px;

            h2 {
                text-align: center;
                font-size: 25px;
            }
        }

        &-contents {
            font-size: 20px;
        }

        &-form {
            &rewrite {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}
