.header-inner {
    margin: 10px 0;
    h1 {
        font-family: 'Permanent Marker', cursive;
        text-align: center;
        font-size: 50px;
    }
}

.sec-reg {
    &-inner-tit {
        margin-bottom: 25px;
        h2 {
            text-align: center;
        }
    }
    &-inner-form {
        // margin-top: 30px;
        dl {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            // padding-top: 24px;
            padding-bottom: 24px;
        }
        dt {
            width: 30%;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        dd {
            width: 70%;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
}
