.sec-wel,
.sec-sea {
    &-inner {
        &-form {
            &-list {
                margin-top: 20px;
                .tolist {
                    text-decoration: underline;
                }
            }
        }
    }
}

.sec-buts {
    &-cusreg {
        .button-a {
            background: #006eb0;
        }
    }

    &-out {
        .button-a {
            background: #f09199;
        }
    }
}

.sec-cus-edit {
    text-align: end;
    font-size: 20px;

    a {
        text-decoration: underline;
    }
}
