.sec-che {
    &-inner {
        &-form {
            &-table {
                &-txt td {
                    background: #fff;
                }
                &-tot td {
                    text-align: end;
                    background: #ede4e1;
                }
            }
        }
    }
}
