.button-a {
    display: block;
    width: 280px;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 6px;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    // input,
    // a {
    //     display: block;
    // }
}
